" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

set scrolloff=15
set relativenumber
set incsearch
set ignorecase
set smartcase
set idearefactormode=keep
set ideajoin

" Select all
map <c-a> ggVG

" Clipboard
map <c-c> "+y
map <c-x> "+d
map <c-v> "+p

" Move cursor between windows
map <c-h> <C-w>h
map <c-j> <C-w>j
map <c-k> <C-w>k
map <c-l> <C-w>l

map <leader> <Action>(SearchEverywhere)

imap <m-j> <Action>(MoveStatementDown)
imap <m-k> <Action>(MoveStatementUp)

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
