" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

set scrolloff=15
set number
set relativenumber
set incsearch
set hlsearch
set ignorecase
set smartcase
set idearefactormode=keep
set ideajoin
set clipboard=ideaput
set clipboard+=unnamedplus
set notimeout
set visualbell
set cursorline

sethandler <C-s> a:vim
sethandler <C-c> a:vim
sethandler <C-e> a:ide

map <C-c> <Esc>
map <C-s> <Action>(SaveAll)
map <C-d> <C-d>zz
map <C-u> <C-u>zz

" Windows 
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" Tabs
map <A-h> <Action>(PreviousTab)
map <A-l> <Action>(NextTab)

map <leader>tL <Action>(MoveEditorToOppositeTabGroup)
map <leader>tl <Action>(SplitVertically)
map <leader>tj <Action>(SplitHorizontally)
map <leader>tc <Action>(Unsplit)

map <leader>ff <Action>(FindInPath)

map <Esc> :noh<cr>

map H ^
map L $

" Global Search
map <leader><leader> <Action>(SearchEverywhere)

" Move lines
map <A-k> <Action>(MoveLineUp)
map <A-j> <Action>(MoveLineDown)

" Don't use Ex mode, use Q for formatting.
map Q gq

" New line without entering insert mode
map <CR> m`o<Esc>``

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
set which-key

map <leader>ir :source ~/.ideavimrc<CR>